* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Red Hat Display';
    background-color: rgb(196, 192, 192);
}
.card {
    width: 340px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 6px 2px  8px #8888;
    background-color: white;
}

.card__hero-image {
    background-image: url(./images/illustration-hero.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    width: 340px;
    height: 160px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 32px;
}

.card h1 {
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 16px;
}

.card__paragraph {
    font-size: 13px;
    color: gray;
    text-align: center;
    line-height: 19px;
    margin-bottom: 28px;
}

.card__price {
    display: flex;
    align-items: center;
    margin: 0 auto;
    border-radius: 10px;
    width: 280px;
    height: auto;
    background-color: #f8f9fe;
    border: 1px solid dotted;
    padding: 12px 18px;
    line-height: 16px;
    margin-bottom: 24px;



}

.card__price img {
    width: 34px;
    height: 34px;
    margin-right: 14px;
    
}

.card__price--anual-plan {
    font-size: 11px;
    font-weight: 600;
}

.card__price--price {
    font-size: 12px;
    color: gray;
}

.card__price-anual-plan--container {
    margin-right: 90px;
}
.card__price--change{
    font-size: 11px;
    text-decoration: underline;
    color: hsl(245, 75%, 52%);
}

button {
    border: none;
    width: 280px;
    padding: 10px 0;
    color: white;
    background-color: hsl(245, 75%, 52%);
    border-radius: 6px;
    font-weight: 600;
    font-size: 11px;
    box-shadow: 1px 6px 14px #8888;
}
.card__buton-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.card__cancel-order{
    color: gray;
    text-align: center;
    font-size: 11px;
    font-weight: 500;
}